<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fool</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css" media="screen"
          title="no title" charset="utf-8">
</head>
<body ng-app="fool">
<script src="../node_modules/jquery/dist/jquery.js" charset="utf-8"></script>
<script src="../node_modules/angular/angular.js" charset="utf-8"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
<script src="js/card.js" charset="utf-8"></script>
<script src="js/player.js" charset="utf-8"></script>
<script src="js/app.js" charset="utf-8"></script>

<div id="gameField" ng-controller="GameController as game" class="container">

    <div class="row">
        <div class="col-xs-12">
            <div id="gameField">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="enemy-hand">
                            <div class="enemy-cards">
                                <div class="card-container" ng-repeat="enemyCard in game.enemy.cards">
                                    <div class="card back"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <div class="desk" id="desk">
                            <div class="desk-move-cards" id="deskMoveCards">
                                <div ng-click="game.playerStrike(key)" class="card {{card.move.class}}"
                                     ng-repeat="(key, card) in game.desk.cards"></div>
                            </div>
                            <div class="" id="deskStrikeCards">
                                <div ng-click="game.playerStrike(key)" class="card {{card.strike.class}}"
                                     ng-repeat="(key, card) in game.desk.cards"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="cardSetCards" class="card-set-cards">
                            <div ng-show="game.cardSet.getCardsLeft()" class="card-set-last-card">
                                <div class="card {{game.cardSet.getTrumpCard().class}}"></div>
                            </div>
                            <div ng-show="game.cardSet.getCardsLeft()" class="card-set-card"
                                 ng-repeat="n in [].constructor(game.cardSet.getCardsLeft() - 1) track by $index">
                                <div class="card back"></div>
                            </div>
                            <div class="card-set-number" ng-show="game.gameStarted">
                                {{game.cardSet.getCardsLeft()}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <div class="player-hand" id="playerHand">
                            <div class="player-cards">
                                <div class="card-container" ng-repeat="(key, playerCard) in game.player.cards">
                                    <div ng-click="game.playerMoveCard($event, key, playerCard)"
                                         class="card {{playerCard.class}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12 alert alert-info">
                                <div class="status-text" id="status">
                                    {{game.statusText}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button ng-click="game.buttonAction()" type="button" ng-show="game.showButton"
                                        name="button"
                                        class="btn btn-lg btn-success col-xs-12">
                                    {{game.buttonText}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
